.container{
    width: 100vw;
    height: 100vh;
}

.left-side{
    background-color: rgb(209, 208, 208);
    padding: 30px 10px;
    width: 30%;
    gap: 20px;
}

.right-side{
    width: 70%;
    padding: 30px 30px;
}
.user-list {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 10px;
  }

