.input-container {
    display: flex;
    gap: 10px;
    justify-self: flex-end;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-icon {
    align-self: center;
    cursor: pointer;
    color: #007bff;
}

.send-icon:hover {
    color: #0056b3;
}
