.container {
    width: 660px;
    position: relative;
    margin: 0 auto;
}

.signup-content .login-content {
    background: #fff;
    border-radius: 10px;
    padding: 50px 85px;
}


form-title {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #222;
    font-family: montserrat;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
.form-group {
    overflow: hidden;
    margin-bottom: 20px;
}
.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}
.form-submit {
    width: 100%;
    border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
 
    background-image: linear-gradient(to left,#74ebd5,#9face6);
}

.login-content {
    margin-top: 80px;
}