.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  margin-right: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

.menu a:hover {
  text-decoration: underline;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d3d3d3;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.logo {
  font-size: 10px !important;
  font-weight: bold;
  color: #333;
  display: flex;
  flex-direction: column;
  width: 150px;
}
.logo-sub-title-wrapper {
  font-size: 10px;
  line-height: 20px;
  vertical-align: middle;
}
.desktop-top-bar__btn-wrapper {
  display: flex;
}
button.share-button svg {
  color: #000;
  /* fill: #000; */
  filter: brightness(0.5);
}
.run {
  cursor: pointer;
  /* padding: 1px 15px; */
  background: #0556f3;
  font-size: 13px;
  line-height: 10px;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 2px;
  z-index: 109;
  font-weight: bold;
  width: 70px;
  height: 35px;
}
.desktop-top-bar__btn-wrapper {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.share-button {
  height: px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  margin-left: 16px;
  width: 85px;
  height: 35px;
  margin-right: 10px;
  border-radius: 2px;
  border: 1px solid #d3dce6;
  background: none;
  color: #25265eab;
  cursor: pointer;
  padding: 6px;
  font-family: "euclid_circular";
}

.profile-name {
  font-size: 1rem;
  color: #333;
}

.signup-content {
  background: #fff;
  border-radius: 10px;
  padding: 50px 85px;
  margin-top: 50px;
}
