/* resources/css/admin.css */



.panel-container {
    padding: 10px;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #007bff;
    padding: 5px;
    color: #fff;
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
}
