
.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
  }
  
  .message.user1 {
    background-color: #d1e7dd;
    align-self: flex-start;
  }
  
  .message.user2 {
    background-color: #f8d7da;
    align-self: flex-end;
  }
  
  .message-user {
    font-size: 12px;
  }
  
  .message-text {
    flex: 1;
  }
  